.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
}

#Logo-Starbucks img{
    width: 30%;
}

.Container-img{
    display: flex;
    flex-direction: row;
    
    padding: 4%;
    margin-top: 30px;    
}

.Container-text{
    display: flex;
    flex-direction: row;
    
    padding: 4%;
    margin-top: 30px;    
}

#verde{
    background-color: #1E3932;
}

#azul{
    background-color: #0044b4;
}

#rojo{
    background-color: #d50032;
}

#verde{
    background-color: #1E3932;
}

#verde{
    background-color: #1E3932;
}

#button-rojo{
    background-color: #d50032;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
      
#button-rojo:hover{
    background-color: #ff7c9b;
    
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 4%;
    margin-top: 30px;
    border-radius: 15px;
}

#rosa-pastel{
    background-color: #f6bfd9;
}

#button-rosapastel{
    background-color: #f6bfd9;
    color: #460047;
    padding: 10px 20px;
    border: 1px solid #460047;
    border-radius: 20px;
    cursor: pointer;
}
      
#button-rosapastel:hover{
    background-color: #fde2fd;
}

#azul-pastel{
    background-color: #98cde4;
}

#button-azulpastel{
    background-color: #98cde4;
    color: #002a4d;
    padding: 10px 20px;
    border: 1px solid #002a4d;
    border-radius: 20px;
    cursor: pointer;
}
      
#button-azulpastel:hover{
    background-color: #b6dcfc;
}