@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Redressed&family=Varela+Round&display=swap');

/* Letra */
body{
    font-family: Poppins, sans-serif;
    justify-content: center;
}

/* Barra de navegación */
.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 2px;
    width: 1260px;
    background-color: white;
}

    /* 'Rewards' */
#rewards{
    position: fixed; /* Figar barra de navegación 'Rewards' */
    top: 0;
    height: 20px;
    font-size: 13px;
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.3);
}

    /* 'Rewards' */
#ubi{
    text-transform: uppercase;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 43px;
    text-transform: uppercase;
}

#Logo-Starbucks img{
    width: 50px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

    /* 'Rewards' */
#rewards .navbar-right{
    gap: 7px;
}

.navbar-right a:first-child{
    margin-right: 35px;
}

    /* 'Rewards' */
#rewards .navbar-right a:first-child{
    margin-right: 24px;
}

a i{  /* Icono */
    margin-right: 4px;
    font-size: 20px;
    color: black;
    vertical-align: bottom;
}

#button-blanco, #button-negro{
    text-transform: capitalize;  /* Primera letra mayúscula */
}

#button-blanco, #button-blanco--{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#button-blanco:hover{
    color: #585858;
    border: 1px solid #585858;
}

    /* 'Rewards' */
#button-blanco--:hover{
    background-color: #e0e0e0;
}

#button-negro{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
      
#button-negro:hover{
    background-color: #363636;
}

/* Contenedores */
.Container-latte{
    display: flex;
    flex-direction: row;
    height: 285px;
    width: 1232px;
    justify-content: center;
    align-items: center;
    
    padding: 4%;
    margin-top: 30px;
    margin: 0;
    color: white;
}

h2{
    text-transform: uppercase;
}

.Latte--text, .text{
    text-align: center;
    font-size: 18px;
}

#latte img{
    width: 680px;
    height: auto;
}

.Container{
    display: flex;
    flex-direction: row;
    height: 340px;
    width: 1232px;
    justify-content: center;
    align-items: center;
    
    padding: 4%;
    margin-top: 30px;
    color: white;
    text-align: center;
}

img{
    width: 660px;
    height: auto;
}

#verde{
    background-color: #1E3932;
}

#azul{
    background-color: #0044b4;R
}

#rojo{
    background-color: #d50032;
}

#verde{
    background-color: #1E3932;
}

#verde{
    background-color: #1E3932;
}

#button-rojo, #transparent{ /* 'Rewards' */
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
      
#button-rojo:hover{
    background-color: #ff7c9b;
}

    /* 'Rewards' */
#Gradiente{
    position: fixed; /* Figar barra de navegación 'Rewards' */
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 453px;
    height: 432px;
    font-size: 8px !important;
    background: linear-gradient(to bottom, rgba(13, 104, 75, 1), rgba(54, 78, 66, 1));
    box-shadow: 7px 0px 5px -5px rgba(0, 0, 0, 0.3);
}

#Starbucks_Rewards{ /* 'Rewards' */
    display: flex;
    width: 300px;
    height: auto;
}

#Gradiente p{ /* 'Rewards' */
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#transparent, #white { /* 'Rewards' */
    font-weight: bold;
}

#transparent:hover{ /* 'Rewards' */
    color: #06814b;
    border: 1px solid #06814b;
}

#white{ /* 'Rewards' */
    background-color: white;
    color: #333333;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 52px;
}

/* Noticias | Términos y condiciones */
.Container-file{
    display: flex;
    justify-content: center;
    height: 810px;
    gap: 20px;
    font-size: 18px;
}

.Container-file img{
    display: flex;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.Container-pastel{
    width: 616px;
    padding: 4%;
    margin-top: 30px;
    text-align: center;
}

#rosa-pastel, #azul-pastel {
    padding: 20px;
}

#rosa-pastel{
    background-color: #f6bfd9;
    color: #d50032;
}

#button-rosapastel{
    background-color: #f6bfd9;
    color: #d50032;
    padding: 10px 20px;
    border: 1px solid #d50032;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
      
#button-rosapastel:hover{
    background-color: #fde2fd;
}

#azul-pastel{
    background-color: #98cde4;
    color: #003b49;
}

#button-azulpastel{
    background-color: #98cde4;
    color: #003b49;
    padding: 10px 20px;
    border: 1px solid #003b49;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
      
#button-azulpastel:hover{
    background-color: #b6dcfc;
}

/* Nosotros | Cliente */
.Container-nosotros-cliente{
    display: flex;
    height: 200px;
    gap: 40px;
    margin-top: 30px;
    box-shadow: 0px -6px 5px -5px rgba(0, 0, 0, 0.3);
    padding-left: 70px;
}

h3{
    font-weight: normal;
}

.Nosotros-lista li:first-child{
    margin-top: 25px;
}

.Nosotros-lista{
    padding-left: 0;
    list-style: none;
}

.Nosotros-lista li{
    margin-bottom: 25px;
}

.Nosotros-lista a{
    text-decoration: none;
    color: #777777;
    margin-bottom: 10px;
}

#lista a:hover{
    color: #000000;
}

/* Línea */
.linea-horizontal{
    display: flex;
    border-top: 1px solid #e8eaee;
    width: 1200px;
    margin-top: 55px;
    margin-bottom: 13px;
}

/* Social networks */
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.social-icon{
    display: inline-block;
    margin-right: 30px; /* Espacio entre íconos */
    font-size: 20px; /* Tamaño ícono */
    width: 34px; /* Ancho círculo */
    height: 34px; /* Alto círculo */
    border-radius: 50%; /* Hace el ícono circular */
    background-color: #000; /* Color círculo */
    color: #fff; /* Color ícono */
    display: flex;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.social-icon:hover {
    background-color: #363636;
}

/* Avisos */
.avisos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.avisos a{
    text-decoration: none;
    color: #a0a6ac;
}

.avisos a:hover{
    text-decoration: none;
}

    /*
    ::after agrega | después del texto
    :not(:last-child) eliminar última |
    */
.avisos li:not(:last-child)::after {
    content: "|";  /* Añade | después de cada li */
    margin-left: 10px;  /* Espacio entre barra y texto */
    color: #a0a6ac;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
    color: #a0a6ac;
    line-height: 1; /* Sin espacio extra entre líneas */
}

/* Derechos */
#derechos{
    font-size: 12px;
    margin-bottom: 8px;
}

.derechos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 2px;
    padding: 0;
    margin-top: 0;
}

.derechos li{
    text-decoration: none;
    color: #a0a6ac;
    font-size: 10px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.derechos li:not(:last-child)::after {
    content: "|";  /* Añade | después de cada li */
    margin-left: 2px;  /* Espacio entre barra y texto */
    color: #a0a6ac;
}

/* font-family: SoDo Sans, Helvetica, Arial, sans-serif; */

    /* 'Rewards' */
