.navbar{
    box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.3);
}

/* Contenedor principal */
.Menu{
    display: flex;
    flex-direction: column;
    margin: 2.8vw auto 0;
    max-width: 1200px;
    width: 100%;
    padding: 0;
    background-color: white;
    text-align: left;
    align-items: flex-start;
    justify-content: center;

}

/* Texto */

#Disfruta{
    font-size: 1.4vw;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

#Conoce{
    font-size: 2vw;
    max-width: 700px;
    text-transform: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

/* Líneas */
.parallel{
    display: flex;
    border-top: 1px solid #999999;
    width: 88vw;
    padding: 0;
}

#arriba{
    margin: 3.6vw 0px 0px 0px;

}

#abajo{
    margin: 1.5vw 0px 1.2vw 0px;

}

/* Productos */

/* Tipos */
.Menu h3{
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
}

/* Círculo */
.producto{
    display: flex;   /* Permite que el span se comporte como bloque */
    width: 12.5vw;
    height: 12.5vw;
    background-color: #1e3932;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Img */
.Menu img {
    height: 100%; /* Todo el círculo */
    width: 100%; /* Todo el círculo */
    object-fit: cover; /* No se distorsiona */
}

/* Texto */
.Menu a {
    display: flex;
    flex-direction: column;
    font-size: 1.4vw;
    color: #272727;
    text-decoration: none;
    align-items: center;
}

.Tipo{
    display: grid; /* Activa grid layout */
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8vw;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

/* Diseño responsivo*/

@media (max-width: 600px) {
    /* Barra de navegación */
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vw;
        padding: 0;
        margin: 0 0 2vw 0;
    }
    
    /* Dos columnas */
    .Tipo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.8vw;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }

    .Menu img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .Menu {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .parallel {
        max-width: 100%;
    }

    /* Texto */

    #Disfruta, .Menu a{
        font-size: 2.8vw;
    }
    
    #Conoce{
        font-size: 4vw;
    }

    /* Círculo */
    .producto{
    display: flex;
    width: 30vw;
    height: 30vw;
    }
}

@media (min-width: 1200px) {
    /* max-width de 1200px, sin importar el tamaño de pantalla */
    body{
        width: 100%;
        width: 1200px;
        margin: 0 auto;
    }
}